@font-face {
  font-family: 'Abril Fatface';
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background: #1e1f22;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  cursor: none !important;
}

body.hide {
  overflow: hidden;
}

main {
  position: absolute;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  cursor: none;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #e2e1e1;
}

.cursor {
  width: 4rem;
  height: 4rem;
  border: 2px solid #e2e1e1;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-property: background, color, -webkit-transform;
  transition-property: background, color, -webkit-transform;
  transition-property: background, color, transform;
  transition-property: background, color, transform, -webkit-transform;
  -webkit-transform-origin: 87.5% 87.5%;
          transform-origin: 87.5% 87.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.cursor.nav-active {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  background: #567ce4;
}

.cursor.exp-active {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  background: #e2e1e1;
  color: #1e1f22;
}

.cursor.burger-active {
  border: 2px solid #1e1f22;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

.footer {
  min-height: 10vh;
  width: 100%;
}

.nav-header {
  z-index: 2 !important;
  position: relative;
  min-height: 5vh;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #e2e1e1;
}

.nav-header #logo {
  color: #e2e1e1;
  font-family: 'Abril Fatface';
  font-size: 4rem;
}

.nav-header .burger .line1,
.nav-header .burger .line2 {
  background: #e2e1e1;
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  pointer-events: none;
}

.curtain {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #1e1f22;
}

.curtain .splash-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  overflow: hidden;
}

.curtain .splash-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.curtain .splash-desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  padding-left: 5rem;
}

.curtain .splash-desc h2 {
  font-family: 'Abril Fatface';
}

.curtain .splash-desc h2 .mountain-span {
  color: #567ce4;
}

.curtain .splash-desc h2 .hike-span {
  color: #8bd122;
}

.curtain .splash-desc h2 .fashion-span {
  color: #ff8b5d;
}

.curtain .splash-desc p {
  padding: 3rem 0rem;
}

.curtain .splash-desc .explore {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  background: none;
  border: 1px solid #e2e1e1;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  background: #1e1f22;
  left: 0;
  top: -15%;
}

.title {
  overflow: hidden;
  position: relative;
}

.title-swipe {
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.t-swipe1 {
  background: #567ce4;
}

.t-swipe2 {
  background: #8bd122;
}

.t-swipe3 {
  background: #ff8b5d;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.swipe.swipe1 {
  background: #6449d1;
  z-index: 5;
}

.swipe.swipe2 {
  background: #ff8b5d;
  z-index: 4;
}

.swipe.swipe3 {
  background: #8bd122;
  z-index: 3;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e2e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  opacity: 1;
  -webkit-clip-path: circle(50px at 100% -10%);
          clip-path: circle(50px at 100% -10%);
}

.nav-bar .nav-links {
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-bar .nav-links h3 {
  color: #1e1f22;
  padding: 3rem 0rem;
}

.nav-bar .contact {
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
}

.nav-bar .contact h4 {
  color: #1e1f22;
  pad: 2rem 0rem;
}

.nav-bar .contact p {
  color: #1e1f22;
  line-height: 2rem;
}

.fashion1,
.fashion2,
.fashion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 90vh;
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  color: #e2e1e1;
}

.fashion1 .fashion-img,
.fashion2 .fashion-img,
.fashion3 .fashion-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  overflow-x: hidden;
}

.fashion1 .fashion-img img,
.fashion2 .fashion-img img,
.fashion3 .fashion-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fashion1 .fashion-text,
.fashion2 .fashion-text,
.fashion3 .fashion-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.fashion1 .fashion-text h2,
.fashion2 .fashion-text h2,
.fashion3 .fashion-text h2 {
  padding: 5rem 0rem;
}

.fashion1 .fashion-text p,
.fashion2 .fashion-text p,
.fashion3 .fashion-text p {
  font-size: 2.5rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}

.fashion1 .fashion-num,
.fashion2 .fashion-num,
.fashion3 .fashion-num {
  font-size: 20rem;
  position: absolute;
  left: 40%;
  bottom: 65%;
  opacity: 0.4;
  font-family: 'Abril Fatface';
}

.fashion1 h2 {
  color: #ff8b5d;
}

.fashion1 .fashion-num {
  color: #ff8b5d;
}

.fashion2 h2 {
  color: #8bd122;
}

.fashion2 .fashion-num {
  color: #8bd122;
}

.fashion3 h2 {
  color: #6449d1;
}

.fashion3 .fashion-num {
  color: #6449d1;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
  body {
    overflow-x: hidden;
  }
  main {
    width: 100%;
    margin: 0;
  }
  .cursor {
    display: none;
  }
  .footer {
    display: none;
  }
  .nav-header {
    width: 95%;
    margin: auto;
  }
  .curtain {
    margin: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .curtain .reveal-img,
  .curtain .reveal-text {
    display: none;
  }
  .splash-img {
    padding: 1rem;
  }
  .splash-desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
    padding: 1rem;
    margin: 1rem;
  }
  .fashion1,
  .fashion2,
  .fashion3 {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0rem;
  }
  .fashion1 .fashion-text,
  .fashion2 .fashion-text,
  .fashion3 .fashion-text {
    padding: 0rem;
  }
  .fashion1 .fashion-text h2,
  .fashion2 .fashion-text h2,
  .fashion3 .fashion-text h2 {
    padding: 0rem;
  }
  .fashion1 .fashion-text p,
  .fashion2 .fashion-text p,
  .fashion3 .fashion-text p {
    padding: 0;
    margin: 0;
  }
  .fashion1 .fashion-num,
  .fashion2 .fashion-num,
  .fashion3 .fashion-num {
    font-size: 15rem;
    right: 20%;
    bottom: 65%;
  }
  .nav-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .scrollmagic-pin-spacer {
    position: static !important;
    overflow-x: hidden;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */